In [43]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn import metrics
from scipy import optimize
import math

In [44]:
dataset = pd.read_csv('EN22.csv')
dataset.head()

        D       P
0  30.695   3.488
1  18.309  23.982
2  14.772  18.380
3  27.757  25.864
4  32.230  15.600

In [45]:
Y=dataset.iloc[:,1].values
L=dataset.iloc[:,0].values

In [46]:
def fiting_func(param,Y,L):
    residual=Y-((10**param[0])*(1/(L+param[1]))*(10**(-0.002*L)))
    return residual

In [47]:
param = [0,1]

In [48]:
optimize.leastsq(fiting_func, param, args=(Y,L))

(array([2.91042501, 1.41387082]), 1)